<html>
<head>
<title>Language List</title>
</head>
<body>
	{% for object in object_list  %}
		<h5>{{ object.name  }}</h5>
		<p>{{ object.slug  }}</p>
		<p>{{ object.language_code  }}</p>
		<p>{{ object.mime_type }}</p>
		<p><a href="{{ object.get_absolute_url }}">Language detail</a></p>
	{% endfor  %}
	
	<p>Page-{{page}}
	{% if page.has_previous  %}
	<a href ="?page={{ page.pervious_page_number }}">Previous pages</a>
	{% endif  %}
	{% if page.has_next_page %}
	<a href="?page={{ page.next_page_number }}">Netx page</a>
	{% endif %}</p>


</body>
</html>          
