<html>
<head>
<title>Language detail</title>
</head>
<body>
	{% for object in object_list  %}
		<b>{{ object.title  }}</b>
		<p>{{ object.description  }}</p>
		<p>{{ object.language  }}</p>
		<p>
		{% autoescape off %}
		{{ object.highlighted_code  }}
		{% endautoescape %}
		</p>
		<p>{{ object.pub_date|date:"Y-m-d" }}</p>
		<p>{{ object.updated_date|date:"Y-m-d" }}</p>
		<p><a href="{{ object.get_absolute_url }}">代码详细</a></p>
	{% endfor  %}
	
	<p>Page-{{page}}
	{% if page.has_previous  %}
	<a href ="?page={{ page.pervious_page_number }}">Previous pages</a>
	{% endif  %}
	{% if page.has_next_page %}
	<a href="?page={{ page.next_page_number }}">Netx page</a>
	{% endif %}</p>


</body>
</html>          
