{% extends "base.html" %}

{% block title %}
  {% if add %}添加{% else %}编辑{% endif %}缴费记录
{% endblock %}

{% block content %}
    <h3>{% if add %}添加{% else %}编辑{% endif %}缴费记录</h3>
    <span class="help-block">使用表单{% if add %}添加{% else %}编辑{% endif %}缴费记录缴费记录；所有字段都是必填选项。</span>
    <form method="post" action="" >
      {% csrf_token %}
      {{ form.as_p}}
      <!-- <p>{% if form.client.errors %}
      <span class="error">
      {{ form.client.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_title">客户名:</label> 
      {{ form.client }}</p>
      <p>{% if form.contract_num.errors %}
      <span class="error">
      {{ form.contract_num.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_contracts">合同编号:</label>
      {{ form.contract_num }}</p>
      <p>{% if form.begin_date.errors %}
      <span class="error">
      {{ form.begin_date.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_begin_date">租约开始日期:</label>
      {{ form.begin_date }}</p>
      <p>{% if form.end_date.errors %}
      <span class="error">
      {{ form.end_date.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_end_date">租约结束日期:</label>
      {{ form.end_date }}</p>
      <p>{% if form.month_pay.errors %}
      <span class="error">
      {{ form.month_pay.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_month_pay">月租金额:</label>
     {{ form.month_pay }}</p>
     <p>{% if form.flag.errors %}
      <span class="error">
      {{ form.flag.errors|join:", " }}
      </span>
      {% endif %}</p>
      <p><label for="id_flag">合同状态:</label>
     {{ form.flag }}</p> -->
      <p><input type="submit" value="{% if add %}添加{% else %}编辑{% endif %}" class="btn btn-primary"><a href=""></a></p>
    </form>
{% endblock %}